<div class="row">
    <div class="col-12 col-lg-3">
        {{> adminNavigation}}
    </div>
    <div class="col-12 col-lg-6">
        <h2>Шаблоны доставки</h2>
        <a href="/admin/shipping/editor">Добавить</a>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each allShip}}
                        <tr>
                            <td>{{name}}</td>
                            <td>
                                <a href="/admin/shipping/editor/{{_id}}" class="text-info">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4>Статусы доставки</h4>
                <form class="form-inline" action="/admin/shipping/state/" method="POST">
                    <div class="form-group mb-2 mr-2">
                        <input type="text" class="form-control" name="title" id="title">
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button type="submit" class="btn btn-success mb-2">Добавить статус</button>
                </form>
                {{#each states}}
                <form class="form-inline" action="/admin/shipping/state/{{id}}" method="POST">
                    <div class="form-group mb-2 mr-2">
                        <input type="text" class="form-control" name="title" id="title" value="{{title}}">
                    </div>
                    <input type="hidden" name="_csrf" value="{{ ../csrfToken }}">
                    <button type="submit" class="btn btn-primary mb-2">Изменить статус</button>
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>