{{#if fields}}
<form action="/category/{{categoryId}}/" class="mt-4" method="GET">
    {{#each fields}}
    <div class="row">
        <div class="col-md-12">
            <h6>
                {{name}}
            </h6>
            {{#each data}}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{fieldValue}}" id="{{fieldValue}}" name="{{fieldId}}" {{filterSelected
                    ../../query ../id fieldValue}}>
                <label class="form-check-label" for="{{fieldValue}}">
                    {{fieldValue}}
                </label>
            </div>
            {{/each}}
        </div>
    </div>
    <hr> {{/each}}
    <button class="btn btn-light btn-sm float-right" type="submit">Применить</button>
</form>
{{/if}}