<div class="row">
    {{#each products}}
    <div class="col-12 col-lg-4 px-lg-3 mb-lg-5 d-flex flex-column">
        <div class="row" style="flex-grow: 1;">
            <div class="col-7">
                <div class="row">
                    <div class="col">
                        <a href="/product/{{_id}}" class="text-white">
                            <h6 class="text-center bg-success font-weight-bold border border-success rounded">{{title}}</h6>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <small>{{description}}</small>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <img class="w-100" src="{{imagePath}}" alt="{{title}}">
            </div>
        </div>
        <div class="row">
            <div class="col-10 text-right">
                <h4>{{price}} грн.{{#if USDprice}}
                    <span class="text-secondary"> (${{USDprice}})</span>{{/if}}</h4>
            </div>
            <div class="col-2">
                <a href="/cart/add-to-cart/{{_id}}" class="text-success">
                    <h4>
                        <i class="fas fa-cart-arrow-down"></i>
                    </h4>
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>