{{> messages}}
<div class="row">
    <div class="col-12 col-lg-3">{{> adminNavigation}}</div>
    <div class="col-12 col-lg-6">
        <form action="/admin" method="POST">
            <div class="form-group">
                <label for="exchangeRate">Стоимость одного доллара</label>
                <input type="number" step="0.01" name="exchangeRate" id="exchangeRate" class="form-control" aria-describedby="exchangeRateHelpBlock"
                    value="{{USDtoUAH}}" required>
                <small id="exchangeRateHelpBlock" class="form-text text-muted">
                    Например, 8.20
                </small>
            </div>
            <hr>
            <div class="form-group">
                <label for="shopTitle">Название сайта</label>
                <input type="text" name="shopTitle" id="shopTitle" value="{{shopTitle}}" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Описание сайта</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{description}}</textarea>
                <small class="form-text text-muted">
                    Описание отображается в заголовке главной страницы после названия сайта и в нижней части на всех страницах
                </small>
            </div>
            <div class="form-group">
                <label for="address">Адрес</label>
                <input type="text" name="address" id="address" value="{{address}}" class="form-control">
                <small class="form-text text-muted">
                    Например, г. Одесса, ул. Дерибасовская 1
                </small>
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="tel" name="phone" id="phone" name="phone" value="{{phone}}" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-success" type="submit">Сохранить</button>
        </form>
    </div>
</div>