{{#if products}}
<div class="row">
    <div class="col-12 col-lg-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Наименование товара</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        <a class="text-dark" href="/product/{{product.id}}">
                            <strong>{{product.title}}</strong>
                        </a>
                    </td>
                    <td>
                        <a class="text-warning" href="/cart/remove-from-cart/{{product.id}}">
                            <i class="fas fa-minus"></i></a>
                        <span class="border text-success p-1 m-1">{{qty}} шт.</span>
                        <a class="text-success" href="/cart/add-to-cart/{{product.id}}">
                            <i class="fas fa-plus"></i>
                        </a>
                    </td>
                    <td>{{price}} грн.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <h6>Общая стоимость: {{totalPrice}} грн.</h6>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row">
            <div class="col-12">
                <form action="/cart" method="POST">
                    <div class="row">
                        <div class="form-group col-12 col-lg-6">
                            <label for="shippingSelect">Способ доставки</label>
                            <select class="form-control" id="shippingSelect" name="shippingSelect">
                                {{#each ships}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group col-12 col-lg-6">
                            <label for="paymentSelect">Способ оплаты</label>
                            <select class="form-control" id="paymentSelect" name="paymentSelect">
                                {{#each payments}}
                                <option value="{{id}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button type="submit" class="btn btn-success block float-right">Оформить заказ</button>
                </form>
            </div>
        </div>
        {{!-- <hr> --}}
        {{!-- <div class="row">
            <div class="col-12 col-lg-6">
                {{#each ships}}
                <h5>{{name}}</h5>
                <p class="text-secondary">{{description}}</p>
                {{/each}}
            </div>
            <div class="col-12 col-lg-6">
                {{#each payments}}
                <h5>{{name}}</h5>
                <p class="text-secondary">{{description}}</p>
                {{/each}}
            </div>
        </div> --}}
    </div>
</div>
{{else}}
<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
        <h1 class="text-center text-secondary">
            <i class="fas fa-shopping-cart"></i>
        </h1>
        <h2 class="text-center text-secondary">В корзине отсутствуют продукты</h2>
    </div>
</div>
{{/if}}