<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
        <h2>Оформить заказ</h2>
        <form action="/cart/checkout" method="POST">
            <div class="bg-light p-3 mb-5">
                <div class="text-right">
                    <h5>{{shipping.name}}</h5>
                    <p class="text-secondary">{{shipping.description}}</p>
                </div>
                {{#each shipping.fields}}
                <div class="form-group">
                    <label for="">{{field}}</label>
                    <input type="text" class="form-control" name="ship_{{id}}" {{#if required}}required{{/if}}>
                </div>
                {{/each}}
            </div>
            <div class="bg-light p-3 mb-5">
                <div>
                    <h5 class="text-right">{{payment.name}}</h5>
                    <p class="text-secondary">{{payment.description}}</p>
                </div>
                {{#each payment.fields}}
                <div class="form-group">
                    <label for="">{{field}}</label>
                    <input type="text" class="form-control" name="pay_{{id}}" {{#if required}}required{{/if}}>
                </div>
                {{/each}}
            </div>
            <div class="form-group">
                <label for="clientsNote">Ваше примечание</label>
                <textarea class="w-100" name="clientsNote" id="clientsNote" cols="30" rows="4"></textarea>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="clearfix">
                <button type="submit" class="btn btn-success float-right">Готово
                    <i class="far fa-thumbs-up"></i>
                </button>
            </div>
        </form>
    </div>
</div>