<div class="row">
    <div class="col-12 col-lg-6 offset-lg-3">
        <h2>Оформить заказ</h2>
        <div class="text-right">
            <h5>{{shipping.name}}</h5>
            <p class="text-secondary">{{shipping.description}}</p>
        </div>
        <div class="text-right">
            <h5>{{payment.name}}</h5>
            <p class="text-secondary">{{payment.description}}</p>
        </div>
        <form action="/cart/checkout" method="POST">
            {{#each shippingFields}}
            <div class="form-group">
                <label for="">{{this.name}}</label>
                <input type="text" class="form-control" name="{{this.id}}" required>
            </div>
            {{/each}}
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <div class="clearfix">
                <button type="submit" class="btn btn-success float-right">Готово
                    <i class="far fa-thumbs-up"></i>
                </button>
            </div>
        </form>
    </div>
</div>