{{> messages}} {{> search}}
<div class="row">
  <div class="col-12 col-lg-3">
    {{> categories}}
  </div>
  <div class="col-md-6">
    <div class="card">
      {{!--
      <img class="card-img-top" src="{{product.imagePath}}" alt="{{this.title}}"> --}}
      <div class="card-body">
        <h4 class="card-title">{{product.title}}</h4>
        <p class="card-text">{{product.description}}</p>
        <p class="card-text">Код товара: {{product.article}}</p>
        <table class="table">
          <tbody>
            {{#each fields}}
            <tr>
              <td>{{name}}</td>
              <td>{{value}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="clearfix">
          <h4>{{product.price}} грн.{{#if product.USDprice}}<span class="text-secondary"> (${{product.USDprice}})</span>{{/if}}</h4>
          <a href="/cart/add-to-cart/{{product._id}}" class="btn btn-success float-right">Добавить в корзину</a>
        </div>
      </div>
    </div>
  </div>
</div>